S3method(as.BGData, BEDMatrix)
S3method(as.BGData, ColumnLinkedMatrix)
S3method(as.BGData, RowLinkedMatrix)
S3method(findRelated, matrix)
S3method(findRelated, symDMatrix)
export(BGData)
export(GWAS)
export(as.BGData)
export(chunkedApply)
export(chunkedMap)
export(findRelated)
export(getG)
export(getG_symDMatrix)
export(load.BGData)
export(orderedMerge)
export(readRAW)
export(readRAW_big.matrix)
export(readRAW_matrix)
export(summarize)
exportClasses(BGData)
import(methods)
importClassesFrom(BEDMatrix, BEDMatrix)
importClassesFrom(LinkedMatrix, LinkedMatrix)
importClassesFrom(bigmemory, big.matrix)
importClassesFrom(symDMatrix, symDMatrix)
useDynLib(BGData, .registration = TRUE)
